@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 70vh; /* Around 70% of the viewport height */
    padding: 30px;
    background-color:#244f1a;
    color:#d2e823;
}

.container .left-div{
    flex: 1;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.container .right-div{
    flex: 1;
    padding: 10px;
}
.container .image-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 40px;

}

.container .centered-image {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 50%;
    width: 300px;
    height: auto;
    /* Adjust as needed */
}
.container .big-text{
    margin-top:70px ;
    font-weight: bolder;
    font-size: 50px;
}
.container .small-text{
    margin-top: 30px;
    font-size: 25px;
}
.container .create{
    border-radius: 30px;
    padding: 20px;
    border: 0;
    background: #e9c0ea;
    text-decoration: none;
    font-size: 20px;
    white-space:nowrap;
}
.container .button-con{
    margin-top: 50px;
    margin-bottom: 50px;

}
.container-1{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 70vh; /* Around 70% of the viewport height */
    padding: 30px;
    background-color: #e9c0ea;
    color:#50236f;
}
.container-1 .left-div{
    flex: 1;
    padding: 10px;
    
}
.container-1 .right-div{
    flex: 1;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.container-1 .image-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 40px;
}

.container-1 .centered-image {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 50%;
    width: 300px;
    height: auto;
    /* Adjust as needed */
}
.container-1 .big-text{
    margin-top:30px ;
    font-weight: bolder;
    font-size: 50px;
}
.container-1 .small-text{
    margin-top: 30px;
    font-size: 25px;

}
.container-1 .create{
    border-radius: 30px;
    padding: 20px;
    border: 0;
    background: #50236f;
    color: white;
    text-decoration: none;
    font-size: 20px;
    white-space:nowrap;
}
.container-1 .button-con{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 70vh; /* Around 70% of the viewport height */
    padding: 30px;
    background-color:#770016;
    color: #e9c0ea;
}

.container-2 .left-div{
    flex: 1;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.container-2 .right-div{
    flex: 1;
    padding: 10px;
}
.container-2 .image-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 40px;
}

.container-2 .centered-image {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 50%;
    width: auto;
    height: 200px;
    /* Adjust as needed */
}
.container-2 .big-text{
    margin-top:30px ;
    font-weight: bolder;
    font-size: 50px;
}
.container-2 .small-text{
    margin-top: 30px;
    font-size: 25px;

}
.container-2 .create{
    border-radius: 30px;
    padding: 20px;
    border: 0;
    background: #e9c0ea;
    text-decoration: none;
    font-size: 20px;
    white-space:nowrap;
}
.container-2 .button-con{
    margin-top: 50px;
    margin-bottom: 50px;

}
.container-3{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 70vh; /* Around 70% of the viewport height */
    padding: 30px;
    background-color:#f3f3f1;
    color:#1e232f;
    z-index:1;
}
.container-3 .left-div{
    flex: 1;
    padding: 10px;
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.container-3 .right-div{
    flex: 1;
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.container-3 .image-con {
    position: relative;
    width: 300px;
    height: 50%;
    overflow: hidden;
}

.container-3 .centered-image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.container-3 .centered-image.active {
    opacity: 1;
}

@keyframes fadeAnimation {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.container-3 .image-con img {
    max-width: 100%;
    height: auto;
    animation: fadeAnimation 4s infinite;
    animation-delay: 0s;
}

.container-3 .image-con img:nth-child(2) {
    animation-delay: 2s;
}



.container-3 .big-text{
    margin-top:30px ;
    font-weight: bolder;
    font-size: 50px;
}
.container-3 .small-text{
    margin-top: 30px;
    font-size: 25px;

}
.container-3 .create{
    border-radius: 30px;
    padding: 20px;
    border: 0;
    background: #e9c0ea;
    text-decoration: none;
    font-size: 20px;
    white-space:nowrap;
}
.container-3 .button-con{
    margin-top: 50px;
    margin-bottom: 50px;
}





/* Media Query for Mobile View */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        
    }
    .container-1{
        flex-direction: column;
    }
    .container-2{
        flex-direction: column;
    }
    .container-3{
        flex-direction: column;
    }
    .image-con{
        margin-top: 80px;
    }
}
