nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    color: #333;
    position:fixed;
    width:100%;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 15px;
  }
  
  a {
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
  }
  
  a:hover {
    border: 1px solid black;
    border-radius: 10%;
    background-color: black;
    color: white;
    padding: 9px;
    
  }
  
