@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: poppins,serif;
    box-sizing: border-box;
}
.bd{
    background:white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
}
form{
  width: 25rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  background: white;
  
  
  justify-content: center;
}
label{
    font-size: 20px;
    color: black;
    margin-left: 10%;
    opacity: .8;
    text-shadow: 2px 2px 4px rgba(0,0,0, .2);

}
input{
    width: 80%;
    border: none;
    margin: 5px auto;
    margin-bottom: 8%;
    outline: none;
    background: transparent;
    color: black;
    border-bottom: 1px solid rgb(240, 232, 232);
    opacity: .8;
}
button{
    width: 50%;
    margin: 3% auto;
    color: white;
    font-size: 15px;
    opacity: .7;
    background: black; 
    border: none;
    outline: none;
    border-radius: 25px;
    padding:10px;
}
p{
    margin-right:30px;
}
@media all and (max-width:500px) {
    *{
        margin: 0;
        padding: 0;
        font-family: poppins,serif;
        box-sizing: border-box;
    }
    .bd{
        background:white;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center ;
        align-items: center;
    }
    form{
      width: 17rem;
      height: 20rem;
      display: flex;
      flex-direction: column;
      background: white;
      
      justify-content: center;
    }
    label{
        font-size: 20px;
        color:black;
        margin-left: 10%;
        opacity: .8;
        text-shadow: 2px 2px 4px rgba(0,0,0, .2);
    
    }
    input{
        width: 75%;
        border: none;
        margin: 5px auto;
        margin-bottom: 8%;
        outline: none;
        color: black;
        border-bottom: 1px solid rgb(240, 232, 232);
        opacity: .8;
    }
    button{
        width: 45%;
        
        margin: 3% auto;
        color: white;
        font-size: 15px;
        opacity: .7;
        background: black; 
        padding:10px;
        letter-spacing: 2px;
    }
   
}
