@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
.main{
    font-family: 'League Spartan', sans-serif;
   
    background-color:black;
    color: white;
}
.container-of-content{
    display:flex;
    max-width: 800px;
    min-height: 100vh;   
    margin: auto;   
    flex-direction: column;
    align-items: center;
    
}
.image-container{
    margin-top: 50px;
    width:96px;
    height:96px;
    border-radius: 48px;
    overflow: hidden;
}
.image-container img{
    height: 100%;
}

h1{
    font-size: 30px;
    margin-top: 20px;
}
.bio{
    padding: 20px;
    font-size: 20px;
}
.other-links a{
    text-decoration: none;
    color: black;
    
}
.other-links p{
    font-size: 20px;
    font-weight: lighter;
}
.other-links{
    width:95%;
    height: 50px;
    display: flex;
    background-color:#ffffff;
    border-radius: 27px;
    margin: 7px;
    justify-content: center;
    align-items: center;
    color: rgb(10,10,10);
}
.other-links:hover{
    transition: cubic-bezier(.07,1.41,.82,1.41)0.2s;
    transform: scale(1.02);
}

.social-links {
  height: auto; /* Set a fixed height for the container */
  margin: 20px;
    margin-bottom:30px;
}

.social-links img:hover {
  transition: cubic-bezier(.07,1.41,.82,1.41) 0.2s;
  transform: scale(1.30);
}

.social-links img {
  height: 30px; 
  margin: 0;
}

.logo-at-last{
    margin-top: 60px;
    font-weight: bold;
}
.logo-at-last p{
    font-weight: bold;
    font-size:20px;
    color: white;
}
.main-loader{
    width:100%;
    height: 100vh;
    background-color: #001f31;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    width: 70px;
    height: 70px;
    
}
.loader img{
    height: 100%;
}

.main-notfound{
    width: 100%;
    height: 100vh; 

}

.notfound{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}


.notfound h3{
    margin-top: 150px;
    font-weight: 100;
    font-size: 30px;
}


.notfound h2{
    margin-top: 250px;
}

.link-to-login{
    color:rgb(50, 50, 199);
}
.want{
    font-size: 20px;
    margin-top: 30px;
}
